In [ ]:
from pathlib import Path
import model
json_file=Path("./course_data.json")
reviews_df = model.load_data(json_file)

In [8]:
# eda of reviews_df
reviews_df.head()

                                                text            label
0                    go to office hours and practice     liked course
1  One of my least favourite courses. Although th...  disliked course
2  It starts with a very low pace but after midte...  disliked course
3  Took this in 2018 with no programming experien...     liked course
4  I loved everything about cs 115. Great instruc...     liked course

In [9]:
len(reviews_df)

14838

In [10]:
reviews_df.value_counts("label")

label
liked course       9786
disliked course    4830
Name: count, dtype: int64

In [ ]:
reviews_df["text_length"] = reviews_df["text"].apply(lambda x: len(x.split()))
reviews_df["text_length"].describe()

count    14838.000000
mean        21.161814
std         21.910598
min          0.000000
25%          7.000000
50%         15.000000
75%         27.000000
max        385.000000
Name: text_length, dtype: float64

In [14]:
reviews_df["char_length"] = reviews_df["text"].apply(len)
reviews_df["char_length"].describe()

count    14838.000000
mean       151.498652
std        158.090201
min          0.000000
25%         52.000000
50%        106.000000
75%        196.000000
max       2712.000000
Name: char_length, dtype: float64

In [ ]:
reviews_df.head()

                                                text  label
0                           go office hours practice      1
1  one least favourite courses. although things n...      0
2  starts low pace midterm, gets really fast cann...      0
3  took 2018 programming experience ever. started...      1
4  loved everything cs 115. great instructors, fa...      1